/* Styles.css */
.container {
    width: 80%;
    margin: 6.5rem auto; /* Equivalent to Tailwind's mt-10 */
  }
  
  .content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  .main-heading {
    text-align: center;
    font-size: 2.7rem;
    font-family: eurostile-bold, sans-serif; /* Replace with your actual font */
    font-weight: 600;
    letter-spacing: -1px;
    color:var(--primary-heading-color)
    /* transform: scaleX(1.2) ; */
  }
  
  .description {
    text-align: center;
    font-size: 1.3rem;
    font-family: europa;
    font-weight: 500;
    color: var(--primary-para-color);
}
.hero-img{
    margin-top: 2rem;
}

@media (max-width:768px){
    .description {
        font-size: 1rem;
    }
    .main-heading {
        font-size: 1.8rem;
    }
    .hero-img{
        width: 9rem;
    }
    .devices-img{
        margin-top: -6rem;
        width: 18rem;
    }
}